@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{background-color: #C2F0A5}    
</style>
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="display-4">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h3>SELECT AN OPTION:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3">
            <div class="list-group">
                <a href="~/TaskDetails/Index" class="list-group-item list-group-item-action">TaskDetails</a>
                <br />
                <br/>
                <img src="https://i.pinimg.com/originals/e5/0d/af/e50dafeb91eea995c0f75896e9891444.png" height="600" width="550" class="mx-auto d-block" />

            </div>
        </div>
    </div>
</div>




@*
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3>SELECT AN OPTION:</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/TaskDetails/Index">TaskDetails</a></div>
        </div>
    </div>
</div>
*@
